<%= form_with(model: fedi_account) do |f| %>
  
  <div class="field">
    <%= f.label :handle %><br>
    <small>e.g. @username@domain.com</small><br>
    <%= f.text_field :handle, autofocus: true, autocomplete: "handle", placeholder: "@username@domain.com" %>
  </div>
  <% if fedi_account.new_record? %>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password, nil, autofocus: true, autocomplete: "password" %>
    </div>
  <% end %>
  
  <% if fedi_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fedi_account.errors.count, "error") %> prohibited this fedi_account from being saved:</h2>

      <ul>
        <% fedi_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
