<h1>Fedi Accounts</h1>
<% unless @fedi_accounts.empty? %>
  <div class="feli-table-wrapper">
    <table class="feli-table">
      <thead>
        <tr>
          <th>handle</th>
          <th>actions</th>
        </tr>
      </thead>

      <tbody>
        <% @fedi_accounts.each do |fedi_account| %>
          <tr>
            <td><%= link_to fedi_account do fedi_account.handle end %>
            <td><%= link_to 'Edit', edit_fedi_account_path(fedi_account) %></td>
            <td><%= link_to 'Destroy', fedi_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @fedi_accounts %>
<% else %>
  - no fedi accounts -
<% end %>
<br><br>

<%= link_to 'New Fedi Account', new_fedi_account_path %>
